<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.nowcoder.community.dao.DiscussPostMapper">

    <!--SQL 键 -->
    <sql id="selectFields">
        id, user_id, title, content, type, status, create_time, comment_count, score
    </sql>
    <sql id="insertFields">
        user_id, title, content, type, status, create_time, comment_count, score
    </sql>

    <!-- 查找帖子 -->
    <select id="selectDiscussPosts" resultType="DiscussPost">
        <!-- 选择字段 -->
        select <include refid="selectFields"></include>
        <!-- 来自 discuss_post 表 -->
        from discuss_post
        <!-- 不为拉黑状态 -->
        where status != 2
        <!-- userId 不为 0 -->
        <if test="userId != 0">
            <!-- user_id 等于传入的 userId-->
            and user_id = #{userId}
        </if>
        <!-- 按照类型升序排列 -->
        <!-- 按照创建时间升序排列 -->
        order by type desc, create_time desc
        <!-- 数据库分页 -->
        limit #{offset}, #{limit}
    </select>

    <!-- 查找帖子数量 -->
    <select id="selectDiscussPostRows" resultType="int">
        <!-- 统计帖子数量 -->
        select count(id)
        <!-- 来自 discuss_post 表 -->
        from discuss_post
        <!-- 不为拉黑状态 -->
        where status != 2
        <!-- userId 不为 0 -->
        <if test="userId != 0">
            <!-- user_id 等于传入的 userId-->
            and user_id = #{userId}
        </if>
    </select>

    <!-- 添加帖子 -->
    <insert id="insertDiscussPost" parameterType="DiscussPost" keyProperty="id">
        insert into discuss_post(<include refid="insertFields"></include>)
        values(#{userId},#{title},#{content},#{type},#{status},#{createTime},#{commentCount},#{score})
    </insert>

    <!-- 通过 id 查找帖子 -->
    <select id="selectDiscussPostById" resultType="DiscussPost">
        select <include refid="selectFields"></include>
        from discuss_post
        where id = #{id}
    </select>

    <!-- 更新帖子数 -->
    <update id="updateCommentCount">
        update discuss_post set comment_count = #{commentCount} where id = #{id}
    </update>

    <!-- 更新更新帖子类型 -->
    <update id="updateType">
        update discuss_post set type = #{type} where id = #{id}
    </update>
    <!-- 更新帖子状态 -->
    <update id="updateStatus">
        update discuss_post set status = #{status} where id = #{id}
    </update>

</mapper>